<h5 class="center">Filtro</h5>
<form [formGroup]="fgValidation" (ngSubmit)="filterType()" class="col s12">
    <div class="row">
        <div class="input-field col s3 m6">
            <select id="tipo" class="icons" formControlName="tipo" name="tipo" >
                <option value="" disabled selected>Selecciona el tipo de oferta</option>
                <option value="Alquilar" data-icon=.\assets\images\hand.png class="left">Alquilar</option>
                <option value="Vender" data-icon=".\assets\images\key.png" class="left">Vender</option>
            </select>
            <label>Tipo de oferta</label>
        </div>

        <div class="input-field col s3 m6">
            <select id="tipo2" class="icons" formControlName="tipo2" name="tipo2" >
                <option value="" disabled selected>Selecciona el tipo de inmueble</option>
                <option value="Casa" data-icon=.\assets\images\casa.jpg class="left">Casa</option>
                <option value="Apartamento" data-icon=".\assets\images\apartamento.jpg" class="left">Apartamento
                </option>
                <option value="Apartaestudio" data-icon=".\assets\images\apartaestudio.jpg" class="left">
                    Apartaestudio
                </option>
            </select>
            <label>Tipo de inmueble</label>
        </div>
        <div class="input-field col s3 m6">
            <select class="icons" formControlName="department" [(ngModel)]="searchDep " (change)="loadCitiesOfDepartment()">
                <option value="">Seleccione el departamento</option>
                <option *ngFor="let d of departmentList" [ngValue]="d.name" value="{{d.id}}">{{d.name}}</option>
            </select>
            <label>Departamento</label>
        </div>
        <div class="input-field col s3 m6">
            <select class="icons" formControlName="city" [(ngModel)]="searchCity ">
                <option value="" disabled selected>Selecciona la ciudad</option>
                <option *ngFor="let c of cityList" value="{{c.name}}">{{c.name}}</option>
            </select>
            <label>Ciudad</label>
        </div>
    </div>
    <div>
        <div class="col s9">

        </div>
        <button class="btn waves-effect waves-light green" type="submit" name="action">Filtrar

        </button>
    </div>


</form>

<label>Any: <input [(ngModel)]="searchText "></label> <br>
<br />
<table class="responsive-table">
    <thead>
        <tr>

            <th>
                Departamento
            </th>
            <th>
                Ciudad
            </th>
            <th>
                Dirección
            </th>
            <th>
                Precio
            </th>
            <th>
                Tipo
            </th>
            <th>
                Tipo de oferta
            </th>
            <th>
                Foto
            </th>
            <th>
                Estado
            </th>



        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of propertyList | select:searchDep | select:searchCity |  filter:searchText ">

            <td>
                {{p.department}}
            </td>
            <td>
                {{p.city}}
            </td>
            <td>
                {{p.address}}
            </td>
            <td>
                {{p.price}}
            </td>
            <td>
                {{p.type}}
            </td>


            <td>
                {{p.offerType}}
            </td>

            <td>
                <img src="{{p.photography}}" style="width: 70%;" alt="image" class="square" />
            </td>
            <td>
                {{p.status}}
            </td>
        </tr>
    </tbody>
</table>