<br />
<a routerLink="/department/creator" class="waves-effect waves-light btn">New Register</a>
<br />
<br />
<table class="responsive-table">
    <thead>
        <tr>
           
            <th>
                Country Name
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        <tr >
            
            <td>
                {{d.name}}
            </td>
            <td>
                <a routerLink="/department-editor/{{d.name}}" class="waves-effect waves-light btn orange">Edit
                    <i class="material-icons right">edit</i>
                </a>
            </td>
            <td>
                <button class="btn waves-effect waves-light red" type="button" name="action"
                    (click)="openConfirmation(d.name)">Delete
                    <i class="material-icons right">delete</i>
                </button>
            </td>
        </tr>
    </tbody>
</table>


<div id="modalConfirmation" class="modal">
    <div class="modal-content">
        <h4>Confirmation Window</h4>
        <p>Do you confirm remove this element?</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-light btn red">Cancel</a> &nbsp;
        <a class="modal-close waves-effect waves-light btn green" (click)="removeElement()">Confirm</a>
    </div>
</div>