<fieldset>
    <legend>FORMULARIO DE REGISTRO DE PROPIEDAD</legend>
    <div id="registry-page" class="row">
        <form [formGroup]="fgValidation" (ngSubmit)="registryEvent()" class="col s12">
            <div class="input-field col s12 m6">
                <select class="icons">
                    <option value="" disabled selected>Selecciona el departamento</option>
                    <option value="1" data-icon=.\assets\images\hand.png class="left">Alquilar</option>
                    <option value="2" data-icon=".\assets\images\key.png" class="left">Vender
                    </option>
                </select>
                <label>Tipo de oferta</label>
            </div>
            <div class="input-field col s12 m6">
                <select class="icons">
                    <option value="" disabled selected>Selecciona la ciudad</option>
                    <option value="" data-icon=.\assets\images\hand.png class="left">Alquilar</option>
                    <option value="" data-icon=".\assets\images\key.png" class="left">Vender
                    </option>
                </select>
                <label>Tipo de oferta</label>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="address" type="text" class="validate" formControlName="address">
                    <label for="address" data-error="wrong">Dirección</label>
                    <div class="warning-validation"
                        *ngIf="fg.address.errors && (fg.address.dirty || fg.address.touched)">
                        <strong *ngIf="fg.address.errors.required">
                            Dirección requerida!<br />
                        </strong>
                        <strong *ngIf="fg.address.errors.minlength">
                            La Dirección debe tener al menos 5 caracteres<br />
                        </strong>
                        <strong *ngIf="fg.address.errors.maxlength">
                            La Dirección debe tener menos de 25 caracteres!<br />
                        </strong>

                    </div>
                </div>
                <div class="input-field col s6">
                    <input id="price" type="number" class="validate" formControlName="price">
                    <label for="price">Precio</label>
                    <div class="warning-validation" *ngIf="fg.price.errors && (fg.price.dirty || fg.price.touched)">
                        <strong *ngIf="fg.price.errors.required">
                            Precio requerido!<br />
                        </strong>


                    </div>
                </div>
            </div>
            
            <div class="input-field col s12 m6">
                <select id ="tipo"class="icons" formControlName="tipo" name="tipo">
                    <option value="" disabled selected>Selecciona el tipo de oferta</option>
                    <option value="1" data-icon=.\assets\images\hand.png class="left">Alquilar</option>
                    <option value="2" data-icon=".\assets\images\key.png" class="left">Vender</option>
                </select>
                <label>Tipo de oferta</label>
            </div>

            <div class="input-field col s12 m6">
                <select id ="tipo2"class="icons" formControlName="tipo2" name="tipo2">
                    <option value="" disabled selected>Selecciona el tipo de inmueble</option>
                    <option value="1" data-icon=.\assets\images\casa.jpg class="left">Casa</option>
                    <option value="2" data-icon=".\assets\images\apartamento.jpg" class="left">Apartamento
                    </option>
                    <option value="3" data-icon=".\assets\images\apartaestudio.jpg" class="left">Apartaestudio
                    </option>
                </select>
                <label>Tipo de inmueble</label>
            </div>



            <div class="row">
                <div class="col s4">

                </div>
                <div class="input-field col s3">
                    <input id="photography" type="text" class="validate" formControlName="photography">
                    <label for="photography">Fotografía</label>
                    <div class="warning-validation" *ngIf="fg.photography.errors && (fg.photography.dirty || fg.photography.touched)">
                        <strong *ngIf="fg.photography.errors.required">
                            Fotografía requerida!<br />
                        </strong>
                    </div>
                </div>

            </div>
            <div>
                <div class="col s9">

                </div>
                <button class="btn waves-effect waves-light green" type="submit" name="action">Publicar

                </button>
            </div>

        </form>
    </div>
</fieldset>